*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.logo{
  width: 100px;
  
} 

body{
  background-color: rgb(3,0,31);
  color: white;
  font-family: 'Poppins',sans-serif;
}

.App{
  min-height: 100vh;
  display: flex;
}

.sideBar{
  flex: 3;
  border-right: 1px solid rgb(100,100,100);
}

.main{
  flex: 9;
}

.upperSide{
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100,100,100);
  height: 72%;
}

.addBtn{
  /* height: 2rem;
  padding-right: 1rem; */
  font-size: 20px;
  font-weight: 600px;
}

.midBtn{
  background: #5A4BFF;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 7rem;
  border-radius: 0.5rem;
}


.query{
  display:flex;
  align-items: center;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(98,98,98,1);

}

.icon{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  margin-right: 5px;
}

.icon1{
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 10px;
  margin-right: 5px;
}

.lowerSide{
  padding: 2rem;
}

.listItems{
  margin: 1rem 4px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  
}

.main{
  min-height:calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;
}

.chats{
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
}

.chat{
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chat1{
  width: 3.5rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

.bot{
  background:rgba(28,30,58,1);
  width: fit-content;
  border-radius: 0.5rem;
}

.userLogo{
  margin: 1rem;
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.chatFooter{
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp{
  padding: 0.5rem;
  background: rgba(28,30,58,1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
}

.inp>input{
  width:calc(100%-3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.inp>input,.send{
  background: transparent;
  border: none;
}

.send{
  padding-left: 450px;
  font-size: 3rem;
  
}
.send:hover{
  color:rgba(113, 95, 95, 0.23);
  cursor:pointer;
  transition:  ease-in;
}
.chatFooter>p{
  margin: 2rem 0;
}

@media (max-width: 768px) {

  .sideBar{
    display: none;
  }

  .App{
    flex-direction: column;
  }

  .main{
    margin: 2rem 1.5rem 0;
  }

  .chats{
    height: calc(100vh - 20rem);
  }

  .chat{
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }

  .inp{
    max-width: 100%;
  }
}